$font-family-sans-serif: 'Montserrat', sans-serif;

@import '~bootstrap/scss/bootstrap.scss';

.price {
    font-size: 125%;
    font-weight: 700;
}

.col-form-label {
    font-size: 75%;
}

.ap-input {
    height: calc(1.5em + 0.75rem + 2px);
    border-color: #ced4da;
}

.ap-input::placeholder {
    color: $input-placeholder-color;
}